# Object Files #
*.o
*.d
**/build/
**/bin/
*.a
*.out
*.bin

kernel/user
kernel/gen

# Temporary Files #
*.tmp
*~
*.swp

# Kernel #
kernel/phoenix.bin

# Eclipse #
.settings/
.cproject
.project

# Image disk #
*.iso
*.img

# gcc cross compile #
cross/
gcc-*/
gcc-*

# CMake files #
CMakeCache.txt
cmake_install.cmake
**/CMakeFiles/
Makefile

# Visual Studio #
.vs/
