# Object Files #
*.o
*.d
*/out/
*.a
*.out
*.bin

kernel/user
kernel/gen

# Temporary Files #
*.tmp
*~
*.swp

# Kernel #
kernel/phoenix.bin

# Eclipse #
.settings/
.cproject
.project

# Image disk #
*.iso
*.img

# gcc cross compile #
cross/
gcc-*/
gcc-*

